/*h1 {*/
/*    text-align: center;*/
/*}*/

/*.box {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: #f2f2f2;*/
/*    border: 1px solid #ccc;*/
/*    border-radius: 5px;*/
/*    padding: 20px;*/
/*    margin: 20px;*/
/*}*/

/*.box-1 {*/
/*    text-align: center;*/
/*    margin-bottom: 0.75rem;*/
/*    background-color: lightgreen;*/
/*    font-family: "Raleway Black", sans-serif;*/
/*    font-size: 1.5rem;*/
/*    font-weight: bold;*/
/*    color: #fff;*/
/*}*/

/*.container-one > p {*/
/*    color: skyblue;*/
/*}*/

/*h1 {*/
/*    color: skyblue;*/
/*}*/

/*h1:hover {*/
/*    cursor: pointer;*/
/*    color: cornflowerblue;*/
/*}*/

/*.box {*/
/*    width: 50px;*/
/*    height: 50px;*/
/*    background-color: grey;*/
/*    margin: 10px;*/
/*}*/

/*.box:first-of-type {*/
/*    background-color: crimson;*/
/*}*/

/*#index, #footer {*/
/*    background-color: #f1f1f1;*/
/*    border: 1px solid grey;*/
/*}*/

/*#index > p {*/
/*   font-weight: bold;*/
/*    font-style: italic;*/
/*    font-size: 2rem;*/
/*    margin-left: 20px;*/
/*}*/

/*ul {*/
/*    list-style-type: none;*/
/*}*/

/*ol li {*/
/*    opacity: 1;*/
/*    transition: .5s ease all;*/
/*}*/

/*ol li:hover {*/
/*    cursor: pointer;*/
/*    opacity: 0.6;*/
/*    transition: .5s ease all;*/
/*}*/

/*ul li:before {*/
/*   content: ' ☑️';*/
/*}*/

/** {*/
/*    margin: 0;*/
/*}*/

/*h1 {*/
/*    text-align: center;*/
/*    padding-top: 15%;*/
/*}*/

/*#hero {*/
/*    background: bottom / 100% url("mtn.jpg");*/
/*    height: 250px;*/
/*}*/

/*
.box-container {
    width: 80%;
    height: 50%;
    background-color: skyblue;
    overflow: auto;
}

.box {
    width: 30%;
    height: 30%;
    background-color: cornflowerblue;
    margin: 20px auto;
    overflow: auto;
}

.box:nth-of-type(1){
    background-color: darkcyan;
    position: absolute;
}*/

/*
.container {
   border: 3px solid black;
    display: flex;
    flex-wrap: wrap;
}

.box {
    flex: 1 1 300px;
    height: 100px;
}

.box:nth-of-type(1) {
     background: darkseagreen;
}
.box:nth-of-type(2) {
     background: darkslategray;
}
.box:nth-of-type(3) {
     background: darkturquoise;
}
.box:nth-of-type(4) {
     background: darkviolet;
}
.box:nth-of-type(5) {
     background: darkorange;
}
.box:nth-of-type(6) {
     background: darkcyan;
}
*/

* {
    margin: 0;
    padding: 0;
}




